<!-- This link are for text styles -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed&display=swap" rel="stylesheet">

<img src="assets/Images/Agriculture.jpg" alt="Agriculture" height="50%" width="100%">

<mat-grid-list cols="2" rowHeight="550px" routerLink="mn1f" >
    <mat-grid-tile>
        <img src="assets/Images/agriculture-hexacopter.jpg" alt="Agriculture" height="500px">
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="name"><b>MH-1F</b></p><br><br>
            <p class="content">MH-25F is a machine with a powerful spraying system with 16L tank capacity and with a waypoint facility for automatic spraying </p> <br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Request Brochures</button><br><br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Buy Now</button><br><br>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<p class="Tag">Ease Your Work With Customized Automation</p>

<mat-grid-list cols="2" rowHeight="550px" routerLink="mh1fa" >
    <mat-grid-tile>
        <img src="assets/Images/agriculture-hexacopter.jpg" alt="Agriculture" height="500px">
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="name"><b>MH-1FA</b></p><br><br>
            <p class="content">MH-25F is a powerful machine with expert system as well as ML to make your farming easy and efficient, it has with a powerful spraying system with 16L tank capacity along with crop health detection during spraying time along with obstacle avoidance.</p> <br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Request Brochures</button><br><br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Buy Now</button><br><br>
        </div>
    </mat-grid-tile>
</mat-grid-list>