<!-- This link are for text styles -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed&display=swap" rel="stylesheet">

<img src="assets/Images/Surevillances.jpg" alt="Agriculture" height="50%" width="100%">

<mat-grid-list cols="2" rowHeight="550px" routerLink="mh1s">
    <mat-grid-tile>
        <img src="assets/Images/Surveillance Drone.png" alt="Surveillance" height="400px" style="padding-left:20px ;">
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="name"><b>MH-1S</b></p><br><br>
            <p class="content">MH-1S is a well trained smart drone specially design for surveillance with a high definition camera and multiple autonomous features for ease you work in all kind of surveillance</p> <br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Request Brochures</button><br><br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Buy Now</button><br><br>
        </div>
    </mat-grid-tile>
</mat-grid-list>