<img src="assets/Images/Know Us.jpg" alt="Know us " height="50%" width="100%">
<mat-grid-list cols="5">
    <mat-grid-tile routerLink="agriculture"> 
        <mat-card class="example-card">
            <img mat-card-image src="https://assets-global.website-files.com/606e0f17ae885f00b8c6013f/60d39b4a9632142dfe527b0b_AdobeStock_346839683-p-1080.jpeg" alt="Drone Images" height="200px" width="200px">
            <mat-card-content>
                <p class="name">Siddhi Marvaniya</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="agriculture"> 
        <mat-card class="example-card">
            <img mat-card-image src="https://assets-global.website-files.com/606e0f17ae885f00b8c6013f/60d39b4a9632142dfe527b0b_AdobeStock_346839683-p-1080.jpeg" alt="Drone Images" height="200px" width="200px">
            <mat-card-content>
                <p class="name">Kewal Shah</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile><mat-grid-tile routerLink="agriculture"> 
        <mat-card class="example-card">
            <img mat-card-image src="https://assets-global.website-files.com/606e0f17ae885f00b8c6013f/60d39b4a9632142dfe527b0b_AdobeStock_346839683-p-1080.jpeg" alt="Drone Images" height="200px" width="200px">
            <mat-card-content>
                <p class="name">Niraj Lalwani</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="agriculture"> 
        <mat-card class="example-card">
            <img mat-card-image src="https://assets-global.website-files.com/606e0f17ae885f00b8c6013f/60d39b4a9632142dfe527b0b_AdobeStock_346839683-p-1080.jpeg" alt="Drone Images" height="200px" width="200px">
            <mat-card-content>
                <p class="name">Smit Vidja</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="agriculture"> 
        <mat-card class="example-card">
            <img mat-card-image src="https://assets-global.website-files.com/606e0f17ae885f00b8c6013f/60d39b4a9632142dfe527b0b_AdobeStock_346839683-p-1080.jpeg" alt="Drone Images" height="200px" width="200px">
            <mat-card-content>
                <p class="name">Anuj Shukla</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>