<!-- BELOW GIVEN LINKS ARE ONLY FOR FONT STYLE -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Condensed&display=swap" rel="stylesheet">


<p class="Tiitle">MH-1D</p>

<mat-grid-list cols="2" rowHeight="600">
    <mat-grid-tile>
       <div>
            <img src="assets/Images/MH-1D.png" alt="Delivery Drone"><br>
        </div> 
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="Subtittle">MH-1D Package Delivery Drone</p><br><br><br>
            <div class="conten">
                <table>
                    <tr>
                        <td>Model Name :</td>
                        <td>MH-1D Package Delivery Drone</td>
                    </tr>
                    <tr>
                        <td>Capacity :</td>
                        <td>35000 g</td>
                    </tr>
                    <tr>
                        <td>Flight time :</td>
                        <td>20-25 Minutes</td>
                    </tr>
                    <tr>
                        <td>Weight :</td>
                        <td>14834 gram</td>
                    </tr>
                    <tr>
                        <td>Frame Type :</td>
                        <td>Foldable </td>
                    </tr>
                    <tr>
                        <td>Variant:</td>
                        <td>Autonomous</td>
                    </tr>
                    <tr>
                        <td>Size:</td>
                        <td>570*570*500 mm </td>
                    </tr>
                </table>
            </div>
            <br><br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Request Brochures</button><br><br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Buy Now</button><br><br>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="800" class="color">
    <div>
    <p class="Tag">Special Autonomus Features</p>
    </div>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="assets/Images/Shortest path algorithm.png" alt="Shortest Path">
            <mat-card-content>
              <p class="cardtittle"> Shortest Path Algorithm </p>
              <p class="cardcontent">Choose Shortest Path Between Source and Destination</p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="assets/Images/Obstacles Avoidance.png" alt="Obstacles Avoidance">
            <mat-card-content>
              <p class="cardtittle"> Obstacles Avoidance </p>
              <p class="cardcontent">Avoid Building and other obsticals during Path</p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="assets/Images/authorized Delivery.png" alt="authorized Delivery">
            <mat-card-content>
              <p class="cardtittle"> Authorized Delivery </p>
              <p class="cardcontent">Aurthorized Face or OTP Before Releasing Package </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <br><br><br><br><br><br>