
.Head{
    font-size: 5vw;
    text-align: center;
    padding: 5vw;
    font-family:'Times New Roman', Times, serif;
    font-family: 'Oswald', sans-serif;
}
.content{
    margin: 0 70px 0 70px;
    font-size: 2vw;
    line-height: 40px;
    padding-bottom: 40px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.Tittle{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    text-align: center;
}
.example-card {
    max-width: 400px;
    height: auto;
}
.Card_Content{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: justify;
}
.Local_Footer{
    background-color:dimgrey;
    color:white;
    font-size: 60px;
    height: auto;
    width: auto;
    line-height: 100px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-family: 'Oswald', sans-serif;
    padding: 40px;
}
.color{
    background-color:  rgb(238, 237, 237);
}
