<!-- This link are for text styles -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto+Condensed&display=swap" rel="stylesheet">



<img src="assets/Images/Home Page.jpg" alt="hi" width="100%" height="100%">
<div class="color">
    <h1 class="Head">THERE'S A DRONE FOR THAT!</h1>
    <div class="content">
        <p>At MindHawks, we never limit ourselves only to what we can attain today. The only aim is to ease the working capability of industries and work environments with best in the class hardware and services. Our innovative unmanned aircraft systems are designed to broaden our customers’ horizons, enabling them to see the world in powerful, new ways and to tackle challenges that previously seemed insurmountable.</p>
        <br>
        <p>When there is a need, MindHawks' is there to provide a solution that is favorable as well as affordable to our customers!!</p>
    </div>
</div>
<br><br> <br><br>     
<mat-grid-list cols="3" rowHeight="800px">
    <mat-grid-tile routerLink="agriculture"> 
        <mat-card class="example-card">
            <img mat-card-image src="assets/Images/Agriculture-Home.jpg" alt="Drone Images" height="400px" width="400px">
            <mat-card-content>
                <p class="Tittle">Agriculture</p>
            <div class="Card_Content">
            <p>Increase productivity and efficiency of acres of farmland with robust and easy to use drone solutions</p>
            <br>
            </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="surveillance">
        <mat-card class="example-card">
            <img mat-card-image src="assets/Images/Surveillance-Home.jpg" alt="Drone Images" height="400px" width="400px">

        <mat-card-content>
            <p class="Tittle">Surveillance</p>
        <div class="Card_Content">
          <p>Efficiently & accurately map thousands of square kilometers using drones using high end surveillance drones 
        </p>
        </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="delivery">
        <mat-card class="example-card">
            <img mat-card-image src="assets/Images/Delivery-home.jpeg" alt="Drone Images" height="400px" width="400px">
        <mat-card-content>
            <p class="Tittle">Delivery</p>
        <div class="Card_Content">
          <p>Make your deliverables reach the customer in a faster, safer and efficient way</p>
        </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<br><br><br><br><br><br><br>
<p class="Local_Footer">Acquire Exponential Growth Using Latest Technologies</p>
<br><br><br><br><br><br><br>