<!-- This import is for fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet">


<img src="assets/Images/Vision.jpg" alt="Vision" height="50%" width="100%">

<mat-grid-list cols="2" rowHeight="150px" class="Base">
    <mat-grid-tile>
        <div>
            <br><br>
            <p class="head">Vision</p>
            <p class="Content">We aspire to be the most trusted provider of aerial intelligence for user specific applications</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <br><br>
            <p class="head">Mission</p>
            <p class="Content">To develop innovative and reliable end-to-end drone solutions that transform aerial data into actionable intelligence </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div class="colour">
    <p class="Choose-us">Why Choose Us ?</p>
    <mat-grid-list cols="3" rowHeight="250px" class="Choose-us-content">
        <mat-grid-tile>
        <div>
        <p class="number">8+</p><br><br>
        <p class="numbcont">Service Models</p>
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
            <p class="number">40+</p><br><br>
            <p class="numbcont">Drone Production Annually</p>
            </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                <p class="number">5+</p><br><br>
                <p class="numbcont">Technologies Expertise</p>
                </div>
                </mat-grid-tile>
    </mat-grid-list>
</div>
<br><br><br><br><br><br><br>