<!-- This link are for text styles -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed&display=swap" rel="stylesheet">

<img src="assets/Images/Delivery images.jpg" alt="Agriculture" height="50%" width="100%">

<mat-grid-list cols="2" rowHeight="550px" routerLink="mh1d">
    <mat-grid-tile>
        <img src="assets/Images/Delivery Drones.jpg" alt="Delivery" height="500px">
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="name"><b>MH-1D</b></p><br><br>
            <p class="content">MH-118 is the powerful and fastest way to deliver package it uses A* algorithm to find out shortest path between two point, also it authenticate client before delivering product to it by using OTP or  Face Detection</p> <br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Request Brochures</button><br><br>
            <button routerLink="/contact" mat-flat-button color="primary" class="button">Buy Now</button><br><br>
        </div>
    </mat-grid-tile>
</mat-grid-list>